<!--
1.todos
-->
<!DOCTYPE html>
<html>
<head>
  <title>category</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app"><!--view-->
    <p><font size="9">商品分類</font><br><br></p>
    <div>
      代辦事項：
      <input type="text" v-model="newName" placeholder="在此輸入分類名稱" @keyup.enter="addTodo">
      <input type="text" v-model="newFloor" placeholder="在此輸入樓層" @keyup.enter="addTodo">
      <button @click="addTodo">新增</button>
      <Input Type="Button" Value="重新整理" onClick="window.location.reload();">
    </div>
    <div>
      <ul>
        <li v-for="(item, index, key) in filteredTodos" @dblclick="">
          <div v-if="item.c_id !== cacheTodo.c_id">
            
            <label class="todosTitle" :class="{'check': item.completed}" :for="item.c_id">
              {{ item.c_id }} - {{ item.name }} - {{item.floor}}&nbsp;&nbsp;
            </label>
            <button type="button" aria-label="Edit" @click="catcheditid(item)">
              <span aria-hidden="false">edit</span>
            <button type="button" aria-label="Close" @click="removeTodo(item)">
              <span aria-hidden="false">×</span>
            </button>
          </div>
          <div v-if="item.c_id === cacheTodo.c_id">
          	<input v-model="cacheTitle" type="text" @keyup.enter="doneEdit(item)" @keyup.esc="cancelEdit()">
          </div>
        </li>
      </ul>
        <input type="text" v-model="editName" placeholder="在此輸入修改的分類名稱" @keyup.enter="editTodo">
        <input type="text" v-model="editFloor" placeholder="在此輸入修改的樓層" @keyup.enter="editTodo">
      <button @click="editTodo">修改送出</button>
      <Input Type="Button" Value="重新整理" onClick="window.location.reload();">
    </div>
  </div>
</body>
</html>

<script>
var app = new Vue({
	el: '#app',
  data: {//model
    newName: '',
    newFloor: '',
    editName: '',
    editFloor: '',
    catchid: '',
    todos: [],
    visibility: 'all',
    cacheTodo:{},
    cacheTitle:{},
    notFinished: 0,
    url:'http://localhost:8080/',
  },
  methods: {//controller
    addTodo: function() {
        var inserturl = this.url +'insertCategory';
        
        var name = this.newName.trim();
        var floor = this.newFloor.trim();
        var data = {
          c_id:'',
          name:name,
          floor:floor,
        };
        console.log(data)
        fetch(inserturl, {
          method: 'POST', // or 'PUT'
          body: JSON.stringify(data), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));
        
    },
    removeTodo: function(todo) {
    	var vm = this
      var deleteurl = this.url+'deleteCategory';

      var newIndex = vm.todos.findIndex( function(item) {
        return todo.c_id == item.c_id
    	})
      console.log(todo.id)
      fetch(deleteurl, {
          method: 'DELETE', // or 'PUT'
          body: JSON.stringify(todo.c_id), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));      
    	this.todos.splice(newIndex, 1)
      this.countTodo()
    },
    catcheditid:function(todo){
      var vm = this
      var newIndex = vm.todos.findIndex( function(item) {
        return todo.id == item.c_id
    	})
      catchid = todo.c_id
      console.log(catchid)
    },
    editTodo: function(item) {
      var updateurl = this.url+'updateCategory';
      // var catid = this.catchid.trim();
      var editname = this.editName.trim();
      var editfloor = this.editFloor.trim();
      var editdata = {
          c_id:catchid,
          name:editname,
          floor:editfloor,
      };
      console.log(editdata)
      console.log(catchid)
      fetch(updateurl, {
          method: 'PUT', // or 'PUT'
          body: JSON.stringify(editdata), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));        
    },
    cancelEdit: function() {
      this.cacheTodo = {}
      this.cacheTitle = ''
    },
    doneEdit: function(item) {
    	item.title = this.cacheTitle
    	this.cancelEdit()
    },
    countTodo: function() {
    	var counter = 0
      this.todos.forEach(function(item) {
      	if(!item.completed){
        	counter++
        }
      })
      this.notFinished = counter
    },
    clearn: function() {
    	var vm = this
      this.todos.slice().reverse().forEach(function(item) {
      	if(item.completed){
          vm.removeTodo(item)
        }
      })
    }
  },    
    beforeMount: function(){
      var geturl = this.url +'getCategory';
        
      //var name = this.newTodo.trim();
      var data
        
        
      fetch(geturl, {
        method: 'GET', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
      }).then(res => res.json())
      .catch(error => console.error('Error:', error))
      .then(res => this.todos=res.arrcate);
      console.log(this.todos)
      
  },
  computed: {
    filteredTodos: function() {
      if(this.visibility == 'all')
        return this.todos
      else if(this.visibility == 'active'){
        var newTodo = []
        this.todos.forEach(function (item){
          if (!item.completed) {
            newTodo.push(item)
          }
        })
        return newTodo
      }
      else{
        var newTodo = []
        this.todos.forEach(function (item){
          if (item.completed) {
            newTodo.push(item)
          }
        })
        return newTodo
      }
    }
  }
})
</script>

<style>
.nav-link{
  background: #4fc08d;
}
.nav-link.active{
  background: gray;
}
.todosTitle.check {
  text-decoration: line-through;
}
</style>
