<!--
1.todos
-->
<!DOCTYPE html>
<html>
<head>
  <title>transactionrecord</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app"><!--view-->
    <p><font size="9">交易紀錄</font><br><br></p>
    <div>
      代辦事項：
      <input type="text" v-model="newTime" placeholder="在此輸入消費時間" @keyup.enter="addTodo">
      <input type="text" v-model="newProduct" placeholder="在此輸入產品" @keyup.enter="addTodo">
      <input type="text" v-model="newAmount" placeholder="在此輸入消費金額" @keyup.enter="addTodo">
      <input type="text" v-model="newMid" placeholder="在此輸入會員編號" @keyup.enter="addTodo">
      <input type="text" v-model="newBid" placeholder="在此輸入品牌編號" @keyup.enter="addTodo">      
      <button @click="addTodo">新增</button>
      <Input Type="Button" Value="重新整理" onClick="window.location.reload();">
    </div>
    <div>
      <ul>
        <li v-for="(item, index, key) in filteredTodos" @dblclick="">
          <div v-if="item.t_id !== cacheTodo.t_id">
            
            <label class="todosTitle" :class="{'check': item.completed}" :for="item.t_id">
              {{ item.t_id }} - {{ item.time }} - {{item.product}} - {{item.amount}} - {{item.m_name}} - {{item.b_name}}&nbsp;&nbsp;
            </label>
            <button type="button" aria-label="Edit" @click="catcheditid(item)">
              <span aria-hidden="false">edit</span>
            <button type="button" aria-label="Close" @click="removeTodo(item)">
              <span aria-hidden="false">×</span>
            </button>
          </div>
          <div v-if="item.t_id === cacheTodo.t_id">
          	<input v-model="cacheTitle" type="text" @keyup.enter="doneEdit(item)" @keyup.esc="cancelEdit()">
          </div>
        </li>
      </ul>
        <input type="text" v-model="editTime" placeholder="在此輸入修改的消費時間" @keyup.enter="editTodo">
        <input type="text" v-model="editProduct" placeholder="在此輸入修改的產品" @keyup.enter="editTodo">
        <input type="text" v-model="editAmount" placeholder="在此輸入修改的消費金額" @keyup.enter="editTodo">
        <input type="text" v-model="editMid" placeholder="在此輸入修改的會員編號" @keyup.enter="editTodo">
        <input type="text" v-model="editBid" placeholder="在此輸入修改的品牌編號" @keyup.enter="editTodo">
      <button @click="editTodo">修改送出</button>
      <Input Type="Button" Value="重新整理" onClick="window.location.reload();">
    </div>
  </div>
</body>
</html>

<script>
var app = new Vue({
	el: '#app',
  data: {//model
    newTime: '',
    newProduct: '',
    newAmount: '',
    newMid: '',
    newBid: '',
    editTime: '',
    editProduct: '',
    editAmount: '',
    editMid: '',
    editBid: '',
    catchid: '',
    todos: [],
    visibility: 'all',
    cacheTodo:{},
    cacheTitle:{},
    notFinished: 0,
    url:'http://localhost:8080/',
  },
  methods: {//controller
    addTodo: function() {
        var inserturl = this.url +'insertTransactionrecord';
        
        var time = this.newTime.trim();
        var product = this.newProduct.trim();
        var amount = this.newAmount.trim();
        var mid = parseInt(this.newMid.trim());
        var bid = parseInt(this.newParkcard.trim());
        var data = {
          c_id:'',
          time:time,
          product:product,
          amount:amount,
          m_id:mid,
          b_id:bid,
        };
        console.log(data)
        fetch(inserturl, {
          method: 'POST', // or 'PUT'
          body: JSON.stringify(data), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));
        
    },
    removeTodo: function(todo) {
    	var vm = this
      var deleteurl = this.url+'deleteTransactionrecord';

      var newIndex = vm.todos.findIndex( function(item) {
        return todo.t_id == item.t_id
    	})
      console.log(todo.id)
      fetch(deleteurl, {
          method: 'DELETE', // or 'PUT'
          body: JSON.stringify(todo.c_id), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));      
    	this.todos.splice(newIndex, 1)
      this.countTodo()
    },
    catcheditid:function(todo){
      var vm = this
      var newIndex = vm.todos.findIndex( function(item) {
        return todo.id == item.t_id
    	})
      catchid = todo.t_id
      console.log(catchid)
    },
    editTodo: function(item) {
      var updateurl = this.url+'updateTransactionrecord';
      // var catid = this.catchid.trim();
        var edittime = this.editTime.trim();
        var editproduct = this.editProduct.trim();
        var editamount = this.editAmount.trim();
        var editmid = parseInt(this.editMid.trim());
        var editbid = parseInt(this.editParkcard.trim());
      var editdata = {
          t_id:catchid,
          time:edittime,
          product:editproduct,
          amount:editamount,
          m_id:editmid,
          b_id:editbid,
      };
      console.log(editdata)
      console.log(catchid)
      fetch(updateurl, {
          method: 'PUT', // or 'PUT'
          body: JSON.stringify(editdata), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));        
    },
    cancelEdit: function() {
      this.cacheTodo = {}
      this.cacheTitle = ''
    },
    doneEdit: function(item) {
    	item.title = this.cacheTitle
    	this.cancelEdit()
    },
    countTodo: function() {
    	var counter = 0
      this.todos.forEach(function(item) {
      	if(!item.completed){
        	counter++
        }
      })
      this.notFinished = counter
    },
    clearn: function() {
    	var vm = this
      this.todos.slice().reverse().forEach(function(item) {
      	if(item.completed){
          vm.removeTodo(item)
        }
      })
    }
  },    
    beforeMount: function(){
      var geturl = this.url +'getTransactionrecord';
        
      //var name = this.newTodo.trim();
      var data
        
        
      fetch(geturl, {
        method: 'GET', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
      }).then(res => res.json())
      .catch(error => console.error('Error:', error))
      .then(res => this.todos=res.arrtrans);
      console.log(this.todos)
      
  },
  computed: {
    filteredTodos: function() {
      if(this.visibility == 'all')
        return this.todos
      else if(this.visibility == 'active'){
        var newTodo = []
        this.todos.forEach(function (item){
          if (!item.completed) {
            newTodo.push(item)
          }
        })
        return newTodo
      }
      else{
        var newTodo = []
        this.todos.forEach(function (item){
          if (item.completed) {
            newTodo.push(item)
          }
        })
        return newTodo
      }
    }
  }
})
</script>

<style>
.nav-link{
  background: #4fc08d;
}
.nav-link.active{
  background: gray;
}
.todosTitle.check {
  text-decoration: line-through;
}
</style>
