<!--
1.todos
-->
<!DOCTYPE html>
<html>
<head>
  <title>Employee</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app"><!--view-->
    Employee
    <div>
      <input type="text" v-model="newName" placeholder="在此輸入員工名稱" @keyup.enter="addTodo">
      <input type="text" v-model="newPhone" placeholder="在此輸入電話" @keyup.enter="addTodo">
      <input type="text" v-model="newAccount" placeholder="在此輸入帳戶" @keyup.enter="addTodo">
      <input type="text" v-model="newParkcard" placeholder="在此輸入停車卡id" @keyup.enter="addTodo">
      <input type="text" v-model="newBid" placeholder="在此輸入品牌id" @keyup.enter="addTodo">
      <button @click="addTodo">新增</button>
      <Input Type="Button" Value="重新整理" onClick="window.location.reload();">
    </div>
    <div>
        
      <ul>
        <li v-for="(item, index, key) in filteredTodos" @dblclick="">
          <div v-if="item.e_id !== cacheTodo.e_id">
            
            <label class="todosTitle" :class="{'check': item.completed}" :for="item.e_id">
              
              {{ item.e_id }} - {{ item.name }} - {{item.phone}} - {{item.account}} - {{item.parkcard_id}} - {{item.b_id}}
            </label>
            <button type="button" aria-label="Edit" @click="catcheditid(item)">
              <span aria-hidden="false">edit</span>
            <button type="button" aria-label="Close" @click="removeTodo(item)">
              <span aria-hidden="false">×</span>
            </button>
          </div>
          <div v-if="item.e_id === cacheTodo.e_id">
          	<input v-model="cacheTitle" type="text" @keyup.enter="doneEdit(item)" @keyup.esc="cancelEdit()">
          </div>
        </li>
      </ul>
      <div>
        <input type="text" v-model="editName" placeholder="在此輸入修改的品牌名稱" @keyup.enter="editTodo">
        <input type="text" v-model="editPhone" placeholder="在此輸入修改的電話" @keyup.enter="editTodo">
        <input type="text" v-model="editAccount" placeholder="在此輸入修改的帳戶" @keyup.enter="editTodo">
        <input type="text" v-model="editParkcard" placeholder="在此輸入修改的停車卡id" @keyup.enter="editTodo">
        <input type="text" v-model="editBid" placeholder="在此輸入修改的品牌id" @keyup.enter="editTodo">
      </div>
      <button @click="editTodo">修改送出</button>
    </div>
  </div>
</body>
</html>

<script>
var app = new Vue({
	el: '#app',
  data: {//model
    newName: '',
    newPhone: '',
    newAccount:'',
    newParkcard:'',
    newBid:'',
    editName: '',
    editPhone: '',
    editPos: '',
    editAccount: '',
    editParkcard: '',
    editBid: '',
    catchid: '',
    todos: [],
    visibility: 'all',
    cacheTodo:{},
    cacheTitle:{},
    notFinished: 0,
    url:'http://localhost:8080/',
  },
  methods: {//controller
    addTodo: function() {
        var inserturl = this.url +'insertEmployee';
        
        var name = this.newName.trim();
        var phone = this.newPhone.trim();
        var account = this.newAccount.trim();
        var parkcard_id = parseInt(this.newParkcard.trim());
        var bid = parseInt(this.newBid.trim());
        var data = {
          e_id:'',
          name:name,
          phone:phone,
          account:account,
          parkcard_id:parkcard_id,
          b_id:bid,
        };
        console.log(data)
        fetch(inserturl, {
          method: 'POST', // or 'PUT'
          body: JSON.stringify(data), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));
        
    },
    removeTodo: function(todo) {
    	var vm = this
      var deleteurl = this.url+'deleteEmployee';

      var newIndex = vm.todos.findIndex( function(item) {
        return todo.e_id == item.e_id
    	})
      console.log(todo.id)
      fetch(deleteurl, {
          method: 'DELETE', // or 'PUT'
          body: JSON.stringify(todo.e_id), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));      
    	this.todos.splice(newIndex, 1)
      this.countTodo()
    },
    catcheditid:function(todo){
      var vm = this
      var newIndex = vm.todos.findIndex( function(item) {
        return todo.id == item.e_id
    	})
      catchid = todo.e_id
      console.log(catchid)
    },
    editTodo: function(item) {
      var updateurl = this.url+'updateEmployee';
      // var catid = this.catchid.trim();
        var editname = this.editName.trim();
        var editphone = this.editPhone.trim();
        var editaccount = this.editAccount.trim();
        var editparkcard_id = parseInt(this.editParkcard.trim());
        var editbid = parseInt(this.editBid.trim());
      var editdata = {
          e_id:catchid,
          name:editname,
          phone:editphone,
          account:editaccount,
          parkcard_id:editparkcard_id,
          b_id:editbid,
      };
      console.log(editdata)
      console.log(catchid)
      fetch(updateurl, {
          method: 'PUT', // or 'PUT'
          body: JSON.stringify(editdata), // data can be `string` or {object}!
          headers: new Headers({
            'Content-Type': 'application/json'
          }),
        }).then(res => res.json())
        .catch(error => console.error('Error:', error))
        .then(response => console.log('Success:', response));        
    },
    cancelEdit: function() {
      this.cacheTodo = {}
      this.cacheTitle = ''
    },
    doneEdit: function(item) {
    	item.title = this.cacheTitle
    	this.cancelEdit()
    },
    countTodo: function() {
    	var counter = 0
      this.todos.forEach(function(item) {
      	if(!item.completed){
        	counter++
        }
      })
      this.notFinished = counter
    },
    clearn: function() {
    	var vm = this
      this.todos.slice().reverse().forEach(function(item) {
      	if(item.completed){
          vm.removeTodo(item)
        }
      })
    }
  },    
    beforeMount: function(){
      var geturl = this.url +'getEmployee';
        
      //var name = this.newTodo.trim();
      var data
        
        
      fetch(geturl, {
        method: 'GET', // or 'PUT'
        body: JSON.stringify(data), // data can be `string` or {object}!
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
      }).then(res => res.json())
      .catch(error => console.error('Error:', error))
      .then(res => this.todos=res.arremployee);
      console.log(this.todos)
      
  },
  computed: {
    filteredTodos: function() {
      if(this.visibility == 'all')
        return this.todos
      else if(this.visibility == 'active'){
        var newTodo = []
        this.todos.forEach(function (item){
          if (!item.completed) {
            newTodo.push(item)
          }
        })
        return newTodo
      }
      else{
        var newTodo = []
        this.todos.forEach(function (item){
          if (item.completed) {
            newTodo.push(item)
          }
        })
        return newTodo
      }
    }
  }
})
</script>

<style>
.nav-link{
  background: #4fc08d;
}
.nav-link.active{
  background: gray;
}
.todosTitle.check {
  text-decoration: line-through;
}
</style>
